{% extends 'offlandpage/base.html' %}
{% load staticfiles %}
{% block content %}

<h1>Правила портала English Marietta:</h1>

<p>
Портал English Marietta уважает авторитет как своих пользователей. Пользуясь порталом, вы соглашаетесь соблюдать следующие правила:
</p>
<ul>
    <li><b>(1)</b> Размещение личной информации, такой как номера телефонов, адреса, даты рождения или любой другой информации, которая может быть скомпрометирована и использована для совершения мошенничества с личными данными в разделе обсуждения или комментариев на веб-сайте. Однако размещение адресов электронной почты и веб-сайтов - это нормально.</li>
    <li><b>(2)</b> Портал English Marietta будет уважать личную информацию, такую как ваш адрес, возраст, пароль и любые операции с финансовыми транзакциями. Однако, чтобы создать лучший сайт, мы будем собирать макроданные от наших пользователей, в основном, какие страны, города и языки связаны с людьми, использующими наш сайт.</li>
    <li><b>(3)</b> Хотя мы не запрещаем псевдонимы, обратите внимание, что имя, которое вы создаете для своей учетной записи, будет отображаться в вашем сертификате, если вы решите принять его. Также обратите внимание, что администрация имеет право заблокировать или ограничить вашу учетную запись, если псевдоним является оскорбительным.</li>
    <li><b>(4)</b> Каждый человек соглашается ограничиться одной учетной записью, если будет обнаружен адрес с несколькими учетными записями, администрация English Marietta оставляет за собой право предпринять соответствующие действия по замораживанию или удалению учетной записи.</li>
    <li><b>(5)</b> Хотя администраторы портала English Marietta не заинтересованы в передаче личной информации преподавателей и студентов, по соображениям безопасности они оставляют за собой право доступа ко всему, что публикуется или вводится на этом сайте.</li>
</ul>

<!----------------------------------------------------------------------------->

<!-- Modal -->
<div id="ajax_modal_placeholder"
   name="ajax_modal_placeholder"></div>
<!-- end modal -->

{% endblock content %}